body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid black;
    margin-top: 20px;
}

#loginForm {
    display: inline-block;
    margin-top: 50px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form label,
#form input {
    margin: 5px;
}

#form button {
    margin-top: 10px;
}